<h1 class="title">注文情報を参照する</h1>

<div class="container-stu">
  
  <%= form_with url: find_top_index_path, local: true do |f| %>
    <p>
      <%= f.label :student_id, '学生氏名を入力してください' %>
      <%= f.text_field :student_name, class: "stu-id" %>
    </p>
    <p>
      学校<br>
      <%= f.collection_select :school_id , @school, :id, :school_name,
      { include_blank: "選択してください" } ,class: "stu-id" %>
    </p>

      <%= f.submit '参照', class: "student-btn" %>
      
  <% end %>
</div>