<h1 class="title">新規登録</h1>

<p>名前：<%= @student.student_name %></p>
<p>学校：<%= @student.school.school_name %></p>
<p>制服タイプ：<%= @student.product.product_type %></p>
    
<%= form_with model: @fitting do |f| %>
  
  <table class="fitting">
    <tr>
      <th><%= f.label :height, '身長' %></th>
      <td><%= f.text_field :height %>cm</td>
    </tr>
    <tr>
      <th><%= f.label :weight, '体重' %></th>
      <td><%= f.text_field :weight %>kg</td>
    </tr>
    <tr>
      <th><%= f.label :neck_round, '首回り' %></th>
      <td><%= f.text_field :neck_round %>cm</td>
    </tr>
    <tr>
      <th><%= f.label :shoulder_width, '肩幅' %></th>　
      <td><%= f.text_field :shoulder_width %>cm</td>
    </tr>
    <tr>
      <th><%= f.label :chest_size, '胸囲' %></th>　
      <td><%= f.text_field :chest_size %>cm</td>
    </tr>
    <tr>
      <th><%= f.label :sleeve_length, '袖丈' %></th>
      <td><%= f.text_field :sleeve_length %>cm</td>
    </tr>
    <tr>
      <th><%= f.label :west, 'ウエスト' %></th>
      <td><%= f.text_field :west %>cm</td>
    </tr>
    <tr>
      <th><%= f.label :hip, 'ヒップ' %></th>
      <td><%= f.text_field :hip %>cm</td>
    </tr>　
    <tr>
      <th><%= f.label :foot_length, '足の長さ' %></th>
      <td><%= f.text_field :foot_length %>cm</td>
    </tr>
  </table>
  <br/>
  <%= f.submit '登録', class: "regist" %>
<% end %>