<h1>登録</h1>

<%= form_with model: @fitting do |f| %>
  <p>学校名：龍谷高校</p>
  <p>名前：飯盛 日和（イサカイ ヒナ）</p>
  <p>制服タイプ：Ⅱ型</p>
      
  <p>
    <%= f.label :height, '身長' %>　　
    <%= f.text_field :height %>  
    　　
    <%= f.label :weight, '体重' %>　
    <%= f.text_field :weight %>
  </p>
  
  <p>
    <%= f.label :neck, '首回り' %>　
    <%= f.text_field :neck %>
    　　
    <%= f.label :shoulder, '肩幅' %>　
    <%= f.text_field :shoulder %>
    　　
    <%= f.label :chest, '胸囲' %>　　
    <%= f.text_field :chest %>
    　　
    <%= f.label :sleeve, '袖丈' %>
    <%= f.text_field :sleeve %>
  </p>
  
  <p>
    <%= f.label :west, 'ウエスト' %>
    <%= f.text_field :west %>
    　　
<!--if '制服タイプ'=='Ⅰ' --> 
    <%= f.label :hip, 'ヒップ' %>
    <%= f.text_field :hip %>
    　　
    <%= f.label :foot, '足の長さ' %>
    <%= f.text_field :foot %>
  </p>
  
  <%= f.submit '登録' %>
<% end %>