<h1 class="title">学生新規追加</h1>

<%= form_with model: @student, local: true do |f| %>
    <div class="container-ad">
        <p>学生名：<%= f.text_field :student_name %></p>
        <div>
            <!-- モーダル部分 -->
            <div id="known-school-modal" style="display: none;">
                <p>
                学校：<%= f.collection_select :school_id , @school, :id, :school_name,
                { include_blank: "選択してください" } %>
                </p>
                <div class="school-btn">
                    <button type="button" id="new-group-btn">新しく学校名を入力する</button>
                </div>
            </div>
            
            <div id="unknown-school-modal" style="display: block;">
                <p>学校名：<%= f.text_field :school_name %></p>
                <p>学年：<%= f.number_field :school_grade %></p>
                <div class="school-btn">
                    <button type="button" id="close-modal-btn" >登録済みの学校から選ぶ</button>
                </div>
            </div>
        </div>
        
        
        <p>
        注文商品：<%= f.collection_select :product_id, @product,:id,:product_type,
        { include_blank: "選択してください" }%>
        </p>
        
      <%= f.submit '作成', class: "admin-btn" %>
    </div>
<% end %>

<script>
    document.addEventListener("DOMContentLoaded", () => {
  const modal_a = document.getElementById("known-school-modal");
  const modal_b = document.getElementById("unknown-school-modal");
  
  const newGroupBtn = document.getElementById("new-group-btn");
  const closeModalBtn = document.getElementById("close-modal-btn");
  const newGroupForm = document.getElementById("new-group-form");
  const groupSelect = document.querySelector("select[name='user[group_id]']");

  newGroupBtn.addEventListener("click", () => {
        modal_a.style.display = "none";
        modal_b.style.display = "block";
  });

  closeModalBtn.addEventListener("click", () => {
        modal_a.style.display = "block";
        modal_b.style.display = "none";
  });

});

</script>

