<h1 class="title"><%= @student.student_name %>様の生徒情報</h1>

    <p>
        名前：<%= @student.student_name %>
    </p>
    <p>
        学校名：<%= @student.school.school_name %> 
    </p>
    <p>
        身長：<%= @fitting.height ||="未計測" %>cm
    </p>
    <p>
        体重：<%= @fitting.weight ||="未計測" %>kg
    </p>
    <p>
        商品タイプ：<%= @student.product&.product_type ||='' %>
    </p>
    
    <br/>
    
    <h2>-- 採寸情報 --</h2>
    
    <table class="fitting">
        <tr>
            <th>首周り</th>
            <td><%= @fitting.neck_round ||="未計測" %>cm</td>
        </tr>
        <tr>
            <th>肩幅</th>
            <td><%= @fitting.shoulder_width ||="未計測" %>cm</td>
        </tr>
        <tr>
            <th>胸囲</th>
            <td><%= @fitting.chest_size ||="未計測" %>cm</td>
        </tr>
        <tr>
            <th>袖丈</th>
            <td><%= @fitting.sleeve_length ||="未計測" %>cm</td>
        </tr>
        <tr>
            <th>ウエスト</th>
            <td><%= @fitting.west ||="未計測" %>cm</td>
        </tr>
        <tr>
            <th>ヒップ</th>
            <td><%= @fitting.hip ||="未計測" %>cm</td>
        </tr>
        <tr>
            <th>足の長さ</th>
            <td><%= @fitting.foot_length ||="未計測" %>cm</td>
        </tr>
    </table>
    
    <%= link_to "データを編集する","/fittings/#{@fitting.id}/edit" %>
