<h1>ユーザー詳細</h1>
<h5>
    <%= link_to "戻る" , root_path %><br/>
    <span>
    名前：<%= @student.student_name %>
    </span><br/>
    <span>
        所属：<%= @student.school.school_name %>
    </span><br/>
    <span>
        商品タイプ：<%= @student.product.product_type %>
    </span><br/>
    <span>
        採寸情報：<%= link_to "データを編集する","/fittings/#{@fitting.id}/edit" %><br/>
            身長：<%= @fitting.height ||="" %><br/>
            体重：<%= @fitting.weight ||="" %><br/>
            首周り：<%= @fitting.neck_round ||="" %><br/>
            肩幅：<%= @fitting.shoulder_width ||="" %><br/>
            胸囲<%= @fitting.chest_size ||="" %><br/>
            袖丈：<%= @fitting.sleeve_length ||="" %><br/>
            ウエスト：<%= @fitting.west ||="" %><br/>
            ヒップ<%= @fitting.hip ||="" %><br/>
            足の長さ：<%= @fitting.foot_length ||="" %><br/>
    </span><br/>
</h5>
