<h1>Students#Show</h1>
<h5>
    <span>
    名前：<%= @Student.student_name %>
    </span><br/>
    <span>
        所属：<%= @Student.school.school_name %>
    </span><br/>
    <span>
        商品タイプ：<%= @Student.product.product_type %>
    </span><br/>
    <span>
        採寸情報：<%= link_to "データを編集する","/fittings/#{@Fitting.id}/edit" %><br/>
            身長：<%= @Fitting.height %><br/>
            体重：<%= @Fitting.weight %><br/>
            首周り：<%= @Fitting.neck_round %><br/>
            肩幅：<%= @Fitting.shoulder_width %><br/>
            胸囲<%= @Fitting.chest_size %><br/>
            袖丈：<%= @Fitting.sleeve_length %><br/>
            ウエスト：<%= @Fitting.west %><br/>
            ヒップ<%= @Fitting.hip %><br/>
            足の長さ：<%= @Fitting.foot_length %><br/>
    </span><br/>
</h5>
